<!Doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <title> {{title}} </title>
    <link type="text/css" href="{{ url_for('static', filename='aaa.css')}}" rel="stylesheet" />
</head>
<body>

    <ul>
        <li><a class="a" href="aaa"> Home </a></li>
        <li><a class="b" href="bbb"> Происхождение Python - а! </a></li>
        <li><a class="c" href="ccc">Библиотеки Python - а! </a></li>
        <li><a class="d" href="ddd"> Полезные сайты по Python - у! </a></li>
        <li><a class="e" href="eee"> Установка Python! </a></li>
        <li><a class="f" href="fff"> About </a></li>
    </ul>

    <center><h1> Добро пожаловать! </h1></center>

    <div class="text">
        <p>
            На этом сайте мы будем говорить про (Python).
            Мы создали этот сайт чтобы вы могли легче понимать что умееть Python.
            Python — это язык программирования, который широко используется в интернет-приложениях, разработке программного обеспечения, науке о данных и машинном обучении (ML).
            Разработчики используют Python, потому что он эффективен, прост в изучении и работает на разных платформах.
            Программы на языке Python можно скачать бесплатно, они совместимы со всеми типами систем и повышают скорость разработки.
            Наш сайт  обяснить вам про этих вешей:
        </p>
    </div>


    <img class="kartinka" src="{{ url_for('static', filename='images/hh.jpg') }}" alt="Python">
    <img class="kartinka_2" src="{{ url_for('static', filename='images/dd.jpg') }}" alt="Python">
    <img class="kartinka_3" src="{{ url_for('static', filename='images/ff.jpg') }}" alt="Python">
    <img class="kartinka_4" src="{{ url_for('static', filename='images/gg.jpg') }}" alt="Python">
    <img class="kartinka_5" src="{{ url_for('static', filename='images/ii.jpg') }}" alt="Python">
    <img class="kartinka_6" src="{{ url_for('static', filename='images/kk.jpg') }}" alt="Python">

    <div class="text_2">
        <p><h3> В чем заключаются преимущества языка Python? </h3></p>
        <p> Язык Python имеет следующие преимущества: </p>
        <ul>
            <li> Разработчики могут легко читать и понимать программы на Python, поскольку язык имеет базовый синтаксис, похожий на синтаксис английского.  </li>
            <li> Python помогает разработчикам быть более продуктивными, поскольку они могут писать программы на Python, используя меньше строк кода, чем в других языках. </li>
            <li> Python имеет большую стандартную библиотеку, содержащую многократно используемые коды практически для любой задачи. В результате разработчикам не требуется писать код с нуля. </li>
            <li> Разработчики могут легко сочетать Python с другими популярными языками программирования: Java, C и C++. </li>
            <li> Активное сообщество Python состоит из миллионов поддерживающих разработчиков со всего мира. При возникновении проблем сообщество поможет в их решении. </li>
            <li> Кроме того, в Интернете доступно множество полезных ресурсов для изучения Python. Например, вы можете легко найти видеоролики, учебные пособия, документацию и руководства для разработчиков. </li>
            <li> Python можно переносить на различные операционные системы: Windows, macOS, Linux и Unix. </li>
        </ul>
    </div>

    <div class="text_3">
        <p><h1> Как развивался Python? </h1></p>

        <p>
            Python разработан Гвидо Ван Россумом (Guido Van Rossum), программистом из Нидерландов.
            Он начал работу над языком в 1989 году в центре Centrum Wiskunde & Informatica (CWI).
            Изначально язык был полностью любительским проектом: Ван Россум просто хотел чем-то занять себя на рождественских каникулах.
            Название языка было взято из телешоу BBC «Летающий цирк Монти Пайтона», большим поклонником которого являлся программист.
        </p>

        <p><h3> История версий Python </h3></p>

        <ul>
            <li> Гвидо Ван Россум опубликовал первую версию кода Python (версия 0.9.0) в 1991 году. Он уже включал в себя ряд полезных возможностей. Например, различные типы данных и функции для обработки ошибок.  </li>
            <li> В версии Python 1.0, выпущенной в 1994 году, были реализованы новые функции для простой обработки списка данных: сопоставление, фильтрация и сокращение. </li>
            <li> Python 2.0 был выпущен 16 октября 2000 года с новыми полезными функциями для программистов, такими как поддержка символов Unicode и упрощенный способ циклического просмотра списка. </li>
            <li> 3 декабря 2008 года вышел Python 3.0. Эта версия включала функцию печати и дополнительную поддержку деления чисел и обработки ошибок.  </li>
        </ul>
    </div>



    <center><h1> Происхождение Python - a! </h1></center></a>

    <div class="text_4">
    <p><h3> Как появился Python </h3></p>
        <p>
            История языка программирования Python началась в конце 1980-х.
            В конце восьмидесятых голландский программист Гвидо ван Россум работал в научно-исследовательском центре математики и информатики в Нидерландах, в котором создавал язык программирования ABC.
            Гвидо вкладывал все силы в этот проект и многому научился в работе над ним.
            В декабре 1989 года офис закрылся на рождественские каникулы, и Гвидо было нечем заняться.
            Тогда он просто ради развлечения написал интерпретатор для нового языка программирования.
            Свой несерьезный проект он назвал «Пайтон» в честь любимого комедийного шоу «Летающий Цирк Монти Пайтона».
            Язык Python был задуман как потомок языка программирования ABC, способный к обработке исключений и взаимодействию с операционной системой Amoeba.
            Ван Россум является основным автором Python и продолжал выполнять центральную роль в принятии решений относительно развития языка вплоть до 12 июля 2018 года.
            Версия Python 2.0 была выпущена 16 октября 2000 года и включала в себя много новых крупных функций — таких как полный сборщик мусора и поддержка Unicode.
            Однако наиболее важным из всех изменений было изменение самого процесса развития языка и переход на более прозрачный процесс его создания.
            Первая обратно-несовместимая версия Python 3.0 была выпущена 3 декабря 2008 года после длительного периода тестирования. Многие её функции были портированы и обратно совместимы с Python 2.6 и Python 2.7.
        </p>
    </div>



    <center><h1> Библиотеки Python - а! </h1></center>
    <div class="text_5">
        <p>
            Библиотеки Python — это файлы с шаблонами кода.
            Их создали для того, чтобы люди не набирали каждый раз заново один и тот же код: достаточно открыть файл, вставить свои данные и получить результат.
            Python считается одним из наиболее востребованных языков программирования во всем мире.
            Его знает практически каждый специалист данной сферы деятельности.
            Популярность языка вполне объяснима универсальностью и колоссальным числом библиотек, которое не перестают пополняться.
            В этом материале постараемся детально рассмотреть лучшие библиотеки Python.
        </p>
    

    <p><h3> Для работы с приложениями </h3></p>
    <p>
        <a href="https://flask.palletsprojects.com/en/2.3.x/"> Flask </a>.
        Микрофреймворк для создания простейших веб-приложений на Python.
        Flask помогает быстро создать простой проект и в дальнейшем масштабировать его.
        Он может интегрироваться с другими инструментами, например для дизайна и визуализации интерфейса.
    </p>

    <p>
        <a href="https://requests.readthedocs.io/en/latest/"> Requests </a>.
        Упрощает генерацию HTTP-запросов к другим сервисам, помогает писать их очень просто и быстро.
        Код получается лаконичным, а запрос легко настроить и отправить.
        Библиотека поддерживает множество функций и написана понятным языком.
    </p>

    <p><h3> Для логирования, обработки и форматирования данных </h3></p>
    <p>
        <a href="https://rich.readthedocs.io/en/stable/introduction.html"> Rich </a>.
        Позволяет форматировать текст, который Python выводит в консоль.
        Словосочетание Rich Text означает «отформатированный», «украшенный» текст.
        Можно сделать разноцветными сообщения в консоли, изменить в них начертание шрифта, выводить таблицы, пользоваться эмодзи.
        Это удобно, если нужны понятные и наглядные логи.
    </p>

    <p>
        <a href="https://docs.pydantic.dev/latest/"> Pydantic </a>.
        Помогает не только обрабатывать данные: она вносит в Python строгую типизацию и четкость в работе.
        Но обычно ее используют для валидации и парсинга: Pydantic проверяет и приводит данные из других сервисов к единому виду.
        Разнородные данные сложно воспринимать и программе, и человеку.
    </p>

    <p><h3> Для отслеживания и анализа  </h3></p>
    <p>
        <a href="https://pypi.org/project/py-spy/0.1.4/"> Py-spy </a>.
        Следит за тем, что и как выполняет программа, сколько времени и ресурсов она тратит на разные задачи, мониторит ее работу.
        Py-spy сначала обращается к системе компьютера, а затем сохраняет и выводит полученную информацию, которую можно использовать в работе.
        Вам не нужно перезагружать или модифицировать работающую программу: инструмент помогает получать информацию, не затрагивая исходный код.
        Библиотека удобна при поиске багов, особенно если нельзя переписать код.
    </p>

    <p>
        <a href="https://pympler.readthedocs.io/en/latest/"> Pympler </a>.
        Мониторит и анализирует память, которая используется при исполнении кода программ на Python.
        Инструмент находит ее избыточное потребление, утечки и другие баги.
        С помощью Pympler можно узнать все о размере и длительности процессов приложения на Python за время работы.
    </p>
    </div>


   
    <div class="text_6">
        <center><h1> Полезные сайты по Python - у </h1></center>

        <p>
            Сайты для изучения Python в первую очередь нужны в том случае, если вы задались целью самообучения этому языку программирования.
            Ведь Python — это как раз тот язык, который возможно и вполне реально изучить самостоятельно, если к этому приложить должные усилия.
            Для самообучения можно использовать книги, бесплатные курсы, профессиональные блоги или сайты для изучения Python.
            О том, что Python простой в изучении, слышно уже из каждой «форточки».
            Но простота его изучения — это очень субъективное свойство, потому что Python — это язык программирования со своими правилами и свойствами.
            Если есть стойкое желание и цель для его изучения, тогда Питон действительно вам покажется довольно простым языком программирования.
            И тогда в процессе изучения Python вам смогут помочь сайты, которые мы приведем чуть ниже.
            Если хорошо поискать в сети источники для изучения Питона, то можно найти сотни разных ресурсов.
            Некоторые из них платные, некоторые — бесплатные.
            Одни содержат курсы, уроки и домашние задания, другие представляют только теоретический материал для ознакомления, некоторые ресурсы предлагают видеоуроки или вообще онлайн-мероприятия.
            То есть способов изучить Python самостоятельно очень много, и всегда можно найти тот, который максимально подходит именно вам.
            Мы отобрали самые достойные сайты для изучения Python, на которые обязательно нужно обратить внимание, если вы находитесь в поисках источника знаний по Питону.
        </p>

        <p>
            <a href="https://www.codecademy.com/?g_network=g&g_productchannel=&g_adid=624951457618&g_locinterest=&g_keyword=codecademy&g_acctid=243-039-7011&g_adtype=&g_keywordid=kwd-41065460761&g_ifcreative=&g_campaign=account&g_locphysical=1012754&g_adgroupid=70492864474&g_productid=&g_source={sourceid}&g_merchantid=&g_placement=&g_partition=&g_campaignid=1726903838&g_ifproduct=&utm_id=t_kwd-41065460761:ag_70492864474:cp_1726903838:n_g:d_c&utm_source=google&utm_medium=paid-search&utm_term=codecademy&utm_campaign=INTL_Brand_Exact&utm_content=624951457618&g_adtype=search&g_acctid=243-039-7011&gclid=Cj0KCQjwmN2iBhCrARIsAG_G2i5RqsQWgV1ZxuXXsg1v_9V5eFQUbsMYEOq9jEBfO2-T1OiEfTi-GK0aAmjPEALw_wcB"> Codecademy </a>.
            Это комплексный ресурс, где можно найти уроки по изучению Python и многих других языков программирования.
            Это полноценная образовательная платформа, где есть возможность писать код и просматривать его результаты онлайн.
            Идеально подходит для тех, кто стартует с нулевыми знаниями по Питону.
        </p>

        <p>
            <a href="https://www.tutorialspoint.com/index.htm"> Tutorialspoint </a>.
            По своей функциональности этот сайт не уступает Codecademy и также дает возможность бесплатно изучать Python с самых основ.
            При этом обучающие материалы затрагивают многие проблемы в Python, которые решают профессионалы высокого уровня.
            То есть, изучив Питон на этом ресурсе, «на выходе» вы станете очень уверенным «питонистом».
        </p>

        <p>
            <a href="https://www.codementor.io/"> Codementor </a>.
            Это уже более профессиональный ресурс, который подойдет тем, кто хочет улучшить свою квалификацию.
            Поэтому пользоваться этим ресурсом желательно, если у вас уже есть определенный «багаж знаний» по Python.
        </p>

        <p>
            <a href="http://www.pythonchallenge.com/"> PythonChallenge </a>.
            Данный ресурс предлагает большое множество уроков и задач разных уровней для самостоятельного изучения Python.
            Когда в первый раз зайдете на этот ресурс, вам может показаться, что данная площадка не рассчитана для обучения, потому что у нее своеобразный внешний вид.
            Но качество материалов никак не зависит от внешнего вида самого ресурса.
        </p>

        <p>
            <a href="https://developers.google.com/edu/python?hl=ru"> Google's Python class </a>.
            Это полноценное электронное руководство для изучения Python от компании Гугл.
            Данное пособие просто и доступно объясняет все концепции и основы Python.
            Данный ресурс рассчитан для получения теоретических знаний, так что, скорее всего, его можно использовать как дополнительный или вспомогательный ресурс для изучения.
        </p>
    </div>



    
    <div class="text_7">
        <center><h1>  Установка Python! </h1></center>

        <p><h2> Инструкция установки </h2></p>

        <p> Нам необходимо установить интерпретатор Python на свой компьютер. </p>

        <p> Интерпретатор – это тип компьютерной программы, которая непосредственно выполняет инструкции, написанные на каком-то языке программирования или языке сценариев. </p>

        <p>
            Для этого Вам необходимо скачать дистрибутив на сайте: <a href="https://www.python.org/">https://www.python.org/</a> - это официальный сайт Python .
            Вам необходимо найти вкладку «Downloads »и выбрать последнюю версию.
            Python постоянно обновляется и актуальная версия может отличаться от представленной версии в этой инструкции. Ниже мы будет устанавливать Python 3.10
        </p>

        <img class="kartinka_7" src="{{ url_for('static', filename='images/rr.jpg') }}" alt="Python">

        <p> Если вам  нужна определённая версия в можете найти его в &nbsp;<u><em> All releases </em></u>.

        <p> Запускаем скачанный файл. Сразу отметьте галочку &nbsp;<u><em> Add Python 3.10 to PATH </em></u> - она позволит вам сразу в командной строке после установки запускать интерпретатор <code>Python</code> без прописывания полного пути к исполняемому файлу - это будет очень полезно. </p>

        <img class="kartinka_8" src="{{ url_for('static', filename='images/ss.jpg') }}" alt="Python">

        <p> Если Вы выберете автоматическую установку, т.е. Install now, то Ваш интерпретатор установится в выбранную директорию, т.е. в AppData. Я крайне не советую это делать - у многих данная папка скрыта и, если Вам необходимо будет найти папку, где установлен Python, то могут возникнуть трудности. На этом шаге лучше выбрать ручную установку. На следующей после нее вкладке оставляем все галочки "как есть" и нажимаем Next. </p>

        <img class="kartinka_9" src="{{ url_for('static', filename='images/tt.jpg') }}" alt="Python">

        <p> На следующей вкладке мы изменим путь установки. Выберите какую-либо папку на Вашем диске или создайте ее самостоятельно. Название можно дать Python310 или аналогично в зависимости от версии. Нажимаем на кнопку «Install». </p>

        <img class="kartinka_10" src="{{ url_for('static', filename='images/uu.jpg') }}" alt="Python">

        <p> Поздравляю установка вполнено! </p>

        <img class="kartinka_11" src="{{ url_for('static', filename='images/vv.jpg') }}" alt="Python">


    </div>

</body>
</html>