    <center><h1> Происхождение Python - a! </h1></center></a>

    <p><h3> Как появился Python </h3></p>
    <div class="text_5">
        <p>
            История языка программирования Python началась в конце 1980-х.
            В конце восьмидесятых голландский программист Гвидо ван Россум работал в научно-исследовательском центре математики и информатики в Нидерландах, в котором создавал язык программирования ABC.
            Гвидо вкладывал все силы в этот проект и многому научился в работе над ним.
            В декабре 1989 года офис закрылся на рождественские каникулы, и Гвидо было нечем заняться.
            Тогда он просто ради развлечения написал интерпретатор для нового языка программирования.
            Свой несерьезный проект он назвал «Пайтон» в честь любимого комедийного шоу «Летающий Цирк Монти Пайтона».
            Язык Python был задуман как потомок языка программирования ABC, способный к обработке исключений и взаимодействию с операционной системой Amoeba.
            Ван Россум является основным автором Python и продолжал выполнять центральную роль в принятии решений относительно развития языка вплоть до 12 июля 2018 года.
            Версия Python 2.0 была выпущена 16 октября 2000 года и включала в себя много новых крупных функций — таких как полный сборщик мусора и поддержка Unicode.
            Однако наиболее важным из всех изменений было изменение самого процесса развития языка и переход на более прозрачный процесс его создания.
            Первая обратно-несовместимая версия Python 3.0 была выпущена 3 декабря 2008 года после длительного периода тестирования. Многие её функции были портированы и обратно совместимы с Python 2.6 и Python 2.7.
        </p>
    </div>