    <center><h1> Библиотеки Python - а! </h1></center>
    <div class="text_6">
        <p>
            Библиотеки Python — это файлы с шаблонами кода.
            Их создали для того, чтобы люди не набирали каждый раз заново один и тот же код: достаточно открыть файл, вставить свои данные и получить результат.
            Python считается одним из наиболее востребованных языков программирования во всем мире.
            Его знает практически каждый специалист данной сферы деятельности.
            Популярность языка вполне объяснима универсальностью и колоссальным числом библиотек, которое не перестают пополняться.
            В этом материале постараемся детально рассмотреть лучшие библиотеки Python.
        </p>
    </div>

    <p><h3> Для работы с приложениями </h3></p>
    <p>
        <a href="https://flask.palletsprojects.com/en/2.3.x/"> Flask </a>.
        Микрофреймворк для создания простейших веб-приложений на Python.
        Flask помогает быстро создать простой проект и в дальнейшем масштабировать его.
        Он может интегрироваться с другими инструментами, например для дизайна и визуализации интерфейса.
    </p>

    <p>
        <a href="https://requests.readthedocs.io/en/latest/"> Requests </a>.
        Упрощает генерацию HTTP-запросов к другим сервисам, помогает писать их очень просто и быстро.
        Код получается лаконичным, а запрос легко настроить и отправить.
        Библиотека поддерживает множество функций и написана понятным языком.
    </p>

    <p><h3> Для логирования, обработки и форматирования данных </h3></p>
    <p>
        <a href="https://rich.readthedocs.io/en/stable/introduction.html"> Rich </a>.
        Позволяет форматировать текст, который Python выводит в консоль.
        Словосочетание Rich Text означает «отформатированный», «украшенный» текст.
        Можно сделать разноцветными сообщения в консоли, изменить в них начертание шрифта, выводить таблицы, пользоваться эмодзи.
        Это удобно, если нужны понятные и наглядные логи.
    </p>

    <p>
        <a href="https://docs.pydantic.dev/latest/"> Pydantic </a>.
        Помогает не только обрабатывать данные: она вносит в Python строгую типизацию и четкость в работе.
        Но обычно ее используют для валидации и парсинга: Pydantic проверяет и приводит данные из других сервисов к единому виду.
        Разнородные данные сложно воспринимать и программе, и человеку.
    </p>

    <p><h3> Для отслеживания и анализа  </h3></p>
    <p>
        <a href="https://pypi.org/project/py-spy/0.1.4/"> Py-spy </a>.
        Следит за тем, что и как выполняет программа, сколько времени и ресурсов она тратит на разные задачи, мониторит ее работу.
        Py-spy сначала обращается к системе компьютера, а затем сохраняет и выводит полученную информацию, которую можно использовать в работе.
        Вам не нужно перезагружать или модифицировать работающую программу: инструмент помогает получать информацию, не затрагивая исходный код.
        Библиотека удобна при поиске багов, особенно если нельзя переписать код.
    </p>

    <p>
        <a href="https://pympler.readthedocs.io/en/latest/"> Pympler </a>.
        Мониторит и анализирует память, которая используется при исполнении кода программ на Python.
        Инструмент находит ее избыточное потребление, утечки и другие баги.
        С помощью Pympler можно узнать все о размере и длительности процессов приложения на Python за время работы.
    </p>
