<div class="text_4">
    <center><h1>  Установка Python! </h1></center>

    <p><h2> Инструкция установки </h2></p>

    <p> Нам необходимо установить интерпретатор Python на свой компьютер. </p>

    <p> Интерпретатор – это тип компьютерной программы, которая непосредственно выполняет инструкции, написанные на каком-то языке программирования или языке сценариев. </p>

    <p>
        Для этого Вам необходимо скачать дистрибутив на сайте: <a href="https://www.python.org/">https://www.python.org/</a> - это официальный сайт Python .
        Вам необходимо найти вкладку «Downloads »и выбрать последнюю версию.
        Python постоянно обновляется и актуальная версия может отличаться от представленной версии в этой инструкции. Ниже мы будет устанавливать Python 3.10
    </p>

    <img class="kartinka_7" src="{{ url_for('static', filename='images/rr.jpg') }}" alt="Python">

    <p> Если вам  нужна определённая версия в можете найти его в &nbsp;<u><em> All releases </em></u>.

    <p> Запускаем скачанный файл. Сразу отметьте галочку &nbsp;<u><em> Add Python 3.10 to PATH </em></u> - она позволит вам сразу в командной строке после установки запускать интерпретатор <code>Python</code> без прописывания полного пути к исполняемому файлу - это будет очень полезно. </p>

    <img class="kartinka_8" src="{{ url_for('static', filename='images/ss.jpg') }}" alt="Python">

    <p> Если Вы выберете автоматическую установку, т.е. Install now, то Ваш интерпретатор установится в выбранную директорию, т.е. в AppData. Я крайне не советую это делать - у многих данная папка скрыта и, если Вам необходимо будет найти папку, где установлен Python, то могут возникнуть трудности. На этом шаге лучше выбрать ручную установку. На следующей после нее вкладке оставляем все галочки "как есть" и нажимаем Next. </p>

    <img class="kartinka_9" src="{{ url_for('static', filename='images/tt.jpg') }}" alt="Python">

    <p> На следующей вкладке мы изменим путь установки. Выберите какую-либо папку на Вашем диске или создайте ее самостоятельно. Название можно дать Python310 или аналогично в зависимости от версии. Нажимаем на кнопку «Install». </p>

    <img class="kartinka_10" src="{{ url_for('static', filename='images/uu.jpg') }}" alt="Python">

    <p> Поздравляю установка вполнено! </p>

    <img class="kartinka_11" src="{{ url_for('static', filename='images/vv.jpg') }}" alt="Python">


</div>