body {
    background-image: url("/static/images/phone.jpg");
    background-repeat: no-repeat;
    background-size: 500%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
        border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 49px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.kartinka {
    height: 300px; 
    width: 500px; 
    margin-left: 150px; 
    margin-top: 0px;
}

.a {
    background-color: #333;
}

.b {
    background-color: #333;
}

.c {
    background-color: #333;
}

.d {
    background-color: #333;
}

.e {
    background-color: #333;
}

.f {
    background-color: #333;
}

.kartinka_2 {
    height: 300px;
    width: 500px;
    margin-right: 0px;
    margin-top: 0px;
}
.kartinka_3 {
    height: 300px;
    width: 500px;
    margin-left: 150px;
    margin-bottom: 0px;
}

.kartinka_4 {
    height: 300px;
    width: 502px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.kartinka_5 {
    height: 300px;
    width: 500px;
    margin-left: 150px;
    margin-top: 0px;
}

.kartinka_6 {
    height: 300px;
    width: 500px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.kartinka_7 {
    height: 350px;
    width: 700px;
    margin-left: 80px;
}

.kartinka_8 {
    height: 350px;
    width: 700px;
    margin-left: 80px;
}

.kartinka_9 {
    height: 350px;
    width: 700px;
    margin-left: 80px;
}

.kartinka_10 {
    height: 350px;
    width: 700px;
    margin-left: 80px;
}

.kartinka_11 {
    height: 350px;
    width: 700px;
    margin-left: 80px;
}

.text {
    width: 900px;
    height: auto;
    margin-left: 100px;
}

.text_2 {
    width: 900px;
    height: auto;
    margin-left: 150px;
}

.text_3 {
    width: 900px;
    height: auto;
    margin-left: 150px;
}

.text_4 {
    width: 900px;
    height: auto;
    margin-left: 150px;
}

.text_5 {
    width: 900px;
    height: auto;
    margin-left: 150px;
}

.text_6 {
    width: 900px;
    height: auto;
    margin-left: 150px;
}
.text_7 {
    width: 900px;
    height: auto;
    margin-left: 150px;
}